Repository open-telemetry/opentelemetry-go-contrib, pull requests merged in 2020-09, with the labels that each got.

#315 [Prometheus Remote Write Exporter for Cortex] Fix Panic Issue in MutualTLS Test
  exporters/metric/cortex/auth_test.go
Labels: bug, release:required-for-ga

#327 chore: Add version to labstack/echo instrumentation
  instrumentation/github.com/labstack/echo/echo.go
Labels: area: instrumentation, priority:p2, release:required-for-ga

#322 Distinguish between gin.Context and context.Context in example code
  instrumentation/github.com/gin-gonic/gin/example/server.go
Labels: area: instrumentation, priority:p3, release:required-for-ga

#324 chore: Add sem version to gin-gonic/gin instrumentation
  instrumentation/github.com/gin-gonic/gin/gintrace.go
Labels: area: instrumentation, priority:p2, release:required-for-ga

#325 chore: Add version to gorilla/mux instrumentation
  instrumentation/github.com/gorilla/mux/mux.go
Labels: area: instrumentation, priority:p2, release:required-for-ga

#306 Allow custom labels to be added to net/http metrics
  CHANGELOG.md
  instrumentation/net/http/handler.go
  instrumentation/net/http/handler_example_test.go
  instrumentation/net/http/handler_test.go
  instrumentation/net/http/labeler.go
Labels: priority:p3, release:required-for-ga

#345 Add Skip Changelog label to dependabot-sourced PRs.
  .github/dependabot.yml
Labels: Skip Changelog

#372 Add instrumentation signal table to instrumentation README
  instrumentation/README.md
Labels: documentation, priority:p3, release:required-for-ga
