Repository open-telemetry/opentelemetry-go-contrib, pull requests merged in 2020-08, with the labels that each got.

#189 Move gRPC instrumentation from go.opentelemetry.io/otel
  .github/dependabot.yml
  .gitignore
  CHANGELOG.md
  instrumentation/google.golang.org/grpc/example/README.md
  instrumentation/google.golang.org/grpc/example/api/hello-service.pb.go
  instrumentation/google.golang.org/grpc/example/api/hello-service.proto
  instrumentation/google.golang.org/grpc/example/client/main.go
  instrumentation/google.golang.org/grpc/example/config/config.go
  instrumentation/google.golang.org/grpc/example/go.mod
  instrumentation/google.golang.org/grpc/example/go.sum
  instrumentation/google.golang.org/grpc/example/server/main.go
  instrumentation/google.golang.org/grpc/example_interceptor_test.go
  instrumentation/google.golang.org/grpc/go.mod
  instrumentation/google.golang.org/grpc/go.sum
  instrumentation/google.golang.org/grpc/grpctrace.go
  instrumentation/google.golang.org/grpc/interceptor.go
  instrumentation/google.golang.org/grpc/interceptor_test.go
Labels: area: instrumentation

#190 Add instrumentation for net/http and net/httptrace
  .github/dependabot.yml
  .gitignore
  CHANGELOG.md
  instrumentation/README.md
  instrumentation/net/http/common.go
  instrumentation/net/http/config.go
  instrumentation/net/http/config_test.go
  instrumentation/net/http/doc.go
  instrumentation/net/http/example/Dockerfile
  instrumentation/net/http/example/README.md
  instrumentation/net/http/example/client/client.go
  instrumentation/net/http/example/docker-compose.yml
  instrumentation/net/http/example/go.mod
  instrumentation/net/http/example/go.sum
  instrumentation/net/http/example/server/modd.conf
  instrumentation/net/http/example/server/server.go
  instrumentation/net/http/filters/filters.go
  instrumentation/net/http/filters/filters_test.go
  instrumentation/net/http/filters/header_go14.go
  instrumentation/net/http/filters/header_nongo14.go
  instrumentation/net/http/go.mod
  instrumentation/net/http/go.sum
  instrumentation/net/http/handler.go
  instrumentation/net/http/handler_example_test.go
  instrumentation/net/http/handler_test.go
  instrumentation/net/http/httptrace/api.go
  instrumentation/net/http/httptrace/clienttrace.go
  instrumentation/net/http/httptrace/clienttrace_test.go
  instrumentation/net/http/httptrace/example/Dockerfile
  instrumentation/net/http/httptrace/example/README.md
  instrumentation/net/http/httptrace/example/client/client.go
  instrumentation/net/http/httptrace/example/docker-compose.yml
  instrumentation/net/http/httptrace/example/go.mod
  instrumentation/net/http/httptrace/example/go.sum
  instrumentation/net/http/httptrace/example/server/modd.conf
  instrumentation/net/http/httptrace/example/server/server.go
  instrumentation/net/http/httptrace/go.mod
  instrumentation/net/http/httptrace/go.sum
  instrumentation/net/http/httptrace/httptrace.go
  instrumentation/net/http/httptrace/httptrace_test.go
  instrumentation/net/http/transport.go
  instrumentation/net/http/transport_example_test.go
  instrumentation/net/http/transport_test.go
  instrumentation/net/http/wrap.go
  internal/metric/async.go
  internal/metric/mock.go
  internal/metric/mock_test.go
Labels: area: instrumentation

#191 feat: Setup CI to run tests that require external resources
  .circleci/config.yml
  .circleci/should_build.sh
  .circleci/wait.sh
  Makefile
  instrumentation/github.com/gocql/gocql/gocql_test.go
  instrumentation/go.mongodb.org/mongo-driver/mongo_test.go
  internal/util/testutil.go
Labels: area: testing, release:required-for-ga

#202 Cortex Exporter Project setup
  exporters/metric/cortex/README.md
  exporters/metric/cortex/cortex.go
  exporters/metric/cortex/cortex_test.go
  exporters/metric/cortex/go.mod
  exporters/metric/cortex/go.sum
  exporters/metric/cortex/sanitize.go
  exporters/metric/cortex/sanitize_test.go
Labels: area: exporter

#228 License check
  Makefile
  doc.go
  exporters/metric/datadog/datadog.go
  exporters/metric/datadog/example_test.go
  instrumentation/github.com/bradfitz/gomemcache/status.go
  instrumentation/runtime/doc.go
  tools/tools.go
Labels: bug, release:required-for-ga

#241 Update runtime instrumentation Meter name
  instrumentation/runtime/runtime.go
Labels: area: instrumentation, bug

#296 Add benchmark tests for gRPC instrumentation
  CHANGELOG.md
  instrumentation/google.golang.org/grpc/benchmark_test.go
  instrumentation/google.golang.org/grpc/example/go.sum
  instrumentation/google.golang.org/grpc/go.sum
Labels: area: instrumentation

#297 Add integration testing for gRPC instrumentation
  CHANGELOG.md
  instrumentation/google.golang.org/grpc/grpc_test.go
Labels: area: instrumentation

#304 Update dependabot config
  .github/dependabot.yml
  Makefile
Labels: area: testing
