Repository open-telemetry/opentelemetry-go-contrib, pull requests merged in 2022-12, with the labels that each got.

#2959 Add back metric integration testing to the otelhttp/test package
  instrumentation/net/http/otelhttp/test/go.mod
  instrumentation/net/http/otelhttp/test/go.sum
  instrumentation/net/http/otelhttp/test/handler_test.go
Labels: area: instrumentation, area: testing, Skip Changelog, instrumentation: otelhttp

#2962 Add back metric integration testing to the otelgocql/test package
  instrumentation/github.com/gocql/gocql/otelgocql/test/go.mod
  instrumentation/github.com/gocql/gocql/otelgocql/test/go.sum
  instrumentation/github.com/gocql/gocql/otelgocql/test/gocql_test.go
Labels: Skip Changelog, instrumentation: otelgocql

#3073 Downgrade retracted gopsutil version
  instrumentation/host/go.mod
  instrumentation/host/go.sum
Labels: Skip Changelog

#3111 Update project status in readme
  README.md
Labels: documentation, Skip Changelog
