Repository open-telemetry/opentelemetry-go-contrib, pull requests merged in 2022-11, with the labels that each got.

#2879 [otelaws] Add DynamoDB and SQS X-Ray specific attributes
  CHANGELOG.md
  instrumentation/github.com/aws/aws-lambda-go/otellambda/example/go.mod
  instrumentation/github.com/aws/aws-lambda-go/otellambda/example/go.sum
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/attributes.go
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/attributes_test.go
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/example/go.mod
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/example/go.sum
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/go.mod
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/go.sum
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/sqsattributes.go
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/sqsattributes_test.go
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/test/go.mod
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/test/go.sum
Labels: instrumentation: otelaws

#2960 Remove unneeded rename views for otelgocql
  instrumentation/github.com/gocql/gocql/otelgocql/example/client.go
Labels: Skip Changelog, instrumentation: otelgocql

#2566 Add logging options to jaeger.sampler
  CHANGELOG.md
  samplers/jaegerremote/go.mod
  samplers/jaegerremote/sampler_remote.go
  samplers/jaegerremote/sampler_remote_options.go
  samplers/jaegerremote/sampler_remote_test.go
Labels: sampler: jaegerremote

#2610 [net/http] enhance otelhttp example to support metric
  CHANGELOG.md
  instrumentation/net/http/otelhttp/example/README.md
  instrumentation/net/http/otelhttp/example/go.mod
  instrumentation/net/http/otelhttp/example/go.sum
  instrumentation/net/http/otelhttp/example/server/server.go
Labels: instrumentation: otelhttp

#2965 Add support for filters to the otelgin package
  CHANGELOG.md
  instrumentation/github.com/gin-gonic/gin/otelgin/gintrace.go
  instrumentation/github.com/gin-gonic/gin/otelgin/option.go
  instrumentation/github.com/gin-gonic/gin/otelgin/test/gintrace_test.go
Labels: instrumentation: otelgin

#2983 otelhttp: Treat http.NoBody the same as a nil body
  CHANGELOG.md
  instrumentation/net/http/otelhttp/handler.go
  instrumentation/net/http/otelhttp/handler_test.go
Labels: bug

#2626 Implement aws.ecs.* resource attributes
  CHANGELOG.md
  detectors/aws/ecs/ecs.go
  detectors/aws/ecs/ecs_test.go
  detectors/aws/ecs/go.mod
  detectors/aws/ecs/go.sum
  detectors/aws/ecs/test/ecs_test.go
  detectors/aws/ecs/test/metadatav4-response-container-ec2.json
  detectors/aws/ecs/test/metadatav4-response-container-fargate.json
  detectors/aws/ecs/test/metadatav4-response-task-ec2.json
  detectors/aws/ecs/test/metadatav4-response-task-fargate.json
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/test/aws_test.go
Labels: detector: aws:ecs
