Repository open-telemetry/opentelemetry-go-contrib, changes with the owners that CODEOWNERS names for each.
All owners: @open-telemetry/go-approvers, @MrAlias, @pellared, @dashpole, @XSAM, @dmathieu, @khushijain21, @scorpionknifes, @codeboten, @pyohannes, @akats7, @MikeGoldsmith, @yurishkuro, @open-telemetry/go-instrumentation-approvers, @pdelewski

CODEOWNERS:

#####################################################
#
# List of approvers for this repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/main/guides/contributor/membership.md#member
#
# Learn about Code Owners policy in OpenTelemetry Go Contrib:
#  https://github.com/open-telemetry/opentelemetry-go-contrib/blob/main/CONTRIBUTING.md#code-owners
#
#
# Learn about CODEOWNERS file format:
# https://help.github.com/en/articles/about-code-owners
#
# NOTE: Lines should be entered in the following format:
# <component_path_relative_from_project_root>/<min_1_space><owner_1><space><owner_2><space>..<owner_n>
# instrumentation/net/http/otelhttp/         @open-telemetry/collector-go-approvers @madvikinggod @mralias
# Path separator and minimum of 1 space between component path and owners is
# important for validation steps
#

* @open-telemetry/go-approvers

CODEOWNERS @MrAlias @pellared @dashpole @XSAM @dmathieu

bridges/otelslog                                                        @open-telemetry/go-approvers @MrAlias @pellared
bridges/otellogrus/                                                     @open-telemetry/go-approvers @dmathieu @pellared
bridges/prometheus/                                                     @open-telemetry/go-approvers @dashpole
bridges/otelzap/                                                        @open-telemetry/go-approvers @pellared @khushijain21
bridges/otellogr/                                                       @open-telemetry/go-approvers @scorpionknifes @pellared

config/                                                                 @open-telemetry/go-approvers @pellared @codeboten

detectors/aws/ec2                                                       @open-telemetry/go-approvers @pyohannes @akats7
detectors/aws/ecs                                                       @open-telemetry/go-approvers @pyohannes @akats7
detectors/aws/eks                                                       @open-telemetry/go-approvers @pyohannes
detectors/aws/lambda                                                    @open-telemetry/go-approvers @akats7
detectors/azure/                                                        @open-telemetry/go-approvers @pyohannes
detectors/gcp/                                                          @open-telemetry/go-approvers @dashpole

exporters/autoexport                                                    @open-telemetry/go-approvers @MikeGoldsmith @pellared

instrumentation/github.com/aws/aws-lambda-go/otellambda/                @open-telemetry/go-approvers @akats7
instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/                   @open-telemetry/go-approvers @akats7
instrumentation/github.com/emicklei/go-restful/otelrestful/             @open-telemetry/go-approvers @dashpole
instrumentation/github.com/gin-gonic/gin/otelgin/                       @open-telemetry/go-approvers @akats7
instrumentation/github.com/gorilla/mux/otelmux/                         @open-telemetry/go-approvers @akats7
instrumentation/github.com/labstack/echo/otelecho/                      @open-telemetry/go-approvers @scorpionknifes
instrumentation/go.mongodb.org/mongo-driver/mongo/otelmongo/            @open-telemetry/go-approvers
instrumentation/google.golang.org/grpc/otelgrpc/                        @open-telemetry/go-approvers @dashpole

instrumentation/host/                                                   @open-telemetry/go-approvers @dmathieu
instrumentation/net/http/httptrace/otelhttptrace/                       @open-telemetry/go-approvers @dmathieu
instrumentation/net/http/otelhttp/                                      @open-telemetry/go-approvers @dmathieu
instrumentation/runtime/                                                @open-telemetry/go-approvers @dmathieu @dashpole

processors/baggagecopy                                                  @open-telemetry/go-approvers @codeboten @MikeGoldsmith
processors/minsev                                                       @open-telemetry/go-approvers @MrAlias

propagators/autoprop/                                                   @open-telemetry/go-approvers @MrAlias
propagators/aws/                                                        @open-telemetry/go-approvers @akats7
propagators/b3/                                                         @open-telemetry/go-approvers @pellared
propagators/jaeger/                                                     @open-telemetry/go-approvers @yurishkuro
propagators/opencensus/                                                 @open-telemetry/go-approvers @dashpole
propagators/ot/                                                         @open-telemetry/go-approvers @pellared

samplers/jaegerremote/                                                  @open-telemetry/go-approvers @yurishkuro
samplers/probability/consistent/                                        @open-telemetry/go-approvers

zpages/                                                                 @open-telemetry/go-approvers @dashpole
instrgen/                                                               @open-telemetry/go-approvers @open-telemetry/go-instrumentation-approvers @MrAlias @pdelewski

config: Fix handling of SchemaUrl
  config/v0.3.0/resource.go
  config/v0.3.0/resource_test.go
Owners: @open-telemetry/go-approvers, @pellared, @codeboten

Add changelog
  CHANGELOG.md
Owners: @open-telemetry/go-approvers

Fix
  config/v0.3.0/resource.go
Owners: @open-telemetry/go-approvers, @pellared, @codeboten

Honor user input
  CHANGELOG.md
  config/v0.3.0/resource.go
  config/v0.3.0/resource_test.go
Owners: @open-telemetry/go-approvers, @pellared, @codeboten

Refactor
  config/v0.3.0/resource.go
Owners: @open-telemetry/go-approvers, @pellared, @codeboten

duplicate client metrics
  instrumentation/net/http/otelhttp/internal/semconv/env.go
  instrumentation/net/http/otelhttp/internal/semconv/env_test.go
  instrumentation/net/http/otelhttp/internal/semconv/httpconv.go
  instrumentation/net/http/otelhttp/internal/semconv/httpconv_test.go
  instrumentation/net/http/otelhttp/internal/semconv/test/httpconv_test.go
  instrumentation/net/http/otelhttp/internal/semconv/test/v1.20.0_test.go
  instrumentation/net/http/otelhttp/transport.go
Owners: @open-telemetry/go-approvers, @dmathieu

add changelog entry
  CHANGELOG.md
Owners: @open-telemetry/go-approvers

fix(otelgin): remove multipartform temporary file
  instrumentation/github.com/gin-gonic/gin/otelgin/gintrace.go
  instrumentation/github.com/gin-gonic/gin/otelgin/test/gintrace_test.go
Owners: @open-telemetry/go-approvers, @akats7

fix lint
  instrumentation/github.com/gin-gonic/gin/otelgin/gintrace.go
Owners: @open-telemetry/go-approvers, @akats7

test(logsink): add TestLogSinkCtxInInfo to verify context handling in Info logs
  bridges/otellogr/logsink_test.go
Owners: @open-telemetry/go-approvers, @scorpionknifes, @pellared

refactor(bridges/otellogr): rename `wantCtxFun` to `wantCtxFunc` in test struct for clarity
  bridges/otellogr/logsink_test.go
Owners: @open-telemetry/go-approvers, @scorpionknifes, @pellared

fix(bridges/otellogr): add context to TestLogSinkCtxInInfo for issue #6509
  bridges/otellogr/logsink_test.go
Owners: @open-telemetry/go-approvers, @scorpionknifes, @pellared

refactor(bridges/otellogr): suppress linter warnings in logsink_test.go
  bridges/otellogr/logsink_test.go
Owners: @open-telemetry/go-approvers, @scorpionknifes, @pellared

update changelog
  CHANGELOG.md
Owners: @open-telemetry/go-approvers

fix lint
  instrumentation/github.com/gin-gonic/gin/otelgin/test/gintrace_test.go
Owners: @open-telemetry/go-approvers, @akats7

update test
  instrumentation/github.com/gin-gonic/gin/otelgin/test/gintrace_test.go
Owners: @open-telemetry/go-approvers, @akats7

remove unused var
  instrumentation/github.com/gin-gonic/gin/otelgin/test/gintrace_test.go
Owners: @open-telemetry/go-approvers, @akats7

Update LInting
  instrumentation/go.mongodb.org/mongo-driver/v2/mongo/otelmongo/mongo.go
Owners: @open-telemetry/go-approvers

Duplicate client metrics with semconv v1.26 in otelhttp (#6607)
  CHANGELOG.md
  instrumentation/net/http/otelhttp/internal/semconv/env.go
  instrumentation/net/http/otelhttp/internal/semconv/env_test.go
  instrumentation/net/http/otelhttp/internal/semconv/httpconv.go
  instrumentation/net/http/otelhttp/internal/semconv/httpconv_test.go
  instrumentation/net/http/otelhttp/internal/semconv/test/httpconv_test.go
  instrumentation/net/http/otelhttp/internal/semconv/test/v1.20.0_test.go
  instrumentation/net/http/otelhttp/transport.go
Owners: @open-telemetry/go-approvers, @dmathieu

addressing comments and fix test
  instrumentation/github.com/gin-gonic/gin/otelgin/gintrace.go
  instrumentation/github.com/gin-gonic/gin/otelgin/test/gintrace_test.go
Owners: @open-telemetry/go-approvers, @akats7

Update CHANGELOG.md
  CHANGELOG.md
Owners: @open-telemetry/go-approvers

config: Fix newResource (#6606)
  CHANGELOG.md
  config/v0.3.0/resource.go
  config/v0.3.0/resource_test.go
Owners: @open-telemetry/go-approvers, @pellared, @codeboten

remove wanterr
  config/v0.3.0/config_test.go
Owners: @open-telemetry/go-approvers, @pellared, @codeboten

Fix sdk.Shutdown
  config/v0.3.0/fuzz_test.go
Owners: @open-telemetry/go-approvers, @pellared, @codeboten

templatize the otelhttp semconv module
  instrumentation/net/http/otelhttp/internal/semconv/gen.go
  instrumentation/net/http/otelhttp/internal/semconv/test/gen.go
  internal/shared/semconv/bench_test.go.tmpl
  internal/shared/semconv/env.go.tmpl
  internal/shared/semconv/env_test.go.tmpl
  internal/shared/semconv/httpconv.go.tmpl
  internal/shared/semconv/httpconv_test.go.tmpl
  internal/shared/semconv/test/common_test.go.tmpl
  internal/shared/semconv/test/httpconv_test.go.tmpl
  internal/shared/semconv/test/v1.20.0_test.go.tmpl
  internal/shared/semconv/util.go.tmpl
  internal/shared/semconv/util_test.go.tmpl
  internal/shared/semconv/v1.20.0.go.tmpl
Owners: @open-telemetry/go-approvers, @dmathieu

Remove fuzzing from CI and Makefile
  .github/workflows/ci.yml
  Makefile
Owners: @open-telemetry/go-approvers

Remove leftover
  Makefile
Owners: @open-telemetry/go-approvers

config: add tests for socket endpoint
  config/v0.3.0/log_test.go
  config/v0.3.0/metric_test.go
  config/v0.3.0/trace_test.go
Owners: @open-telemetry/go-approvers, @pellared, @codeboten

Templatize the otelhttp semconv module (#6626)
  instrumentation/net/http/otelhttp/internal/semconv/gen.go
  instrumentation/net/http/otelhttp/internal/semconv/test/gen.go
  internal/shared/semconv/bench_test.go.tmpl
  internal/shared/semconv/env.go.tmpl
  internal/shared/semconv/env_test.go.tmpl
  internal/shared/semconv/httpconv.go.tmpl
  internal/shared/semconv/httpconv_test.go.tmpl
  internal/shared/semconv/test/common_test.go.tmpl
  internal/shared/semconv/test/httpconv_test.go.tmpl
  internal/shared/semconv/test/v1.20.0_test.go.tmpl
  internal/shared/semconv/util.go.tmpl
  internal/shared/semconv/util_test.go.tmpl
  internal/shared/semconv/v1.20.0.go.tmpl
Owners: @open-telemetry/go-approvers, @dmathieu

config: Add fuzz tests (#6604)
  config/v0.3.0/fuzz_test.go
Owners: @open-telemetry/go-approvers, @pellared, @codeboten

Bump versions
  versions.yaml
Owners: @open-telemetry/go-approvers

Prepare stable-v1 for version v1.34.0
  detectors/aws/ec2/version.go
  detectors/aws/ecs/version.go
  detectors/aws/eks/version.go
  detectors/gcp/version.go
  instrumentation/github.com/aws/aws-lambda-go/otellambda/test/go.mod
  instrumentation/github.com/aws/aws-lambda-go/otellambda/xrayconfig/go.mod
  instrumentation/github.com/emicklei/go-restful/otelrestful/go.mod
  instrumentation/github.com/gin-gonic/gin/otelgin/test/go.mod
  instrumentation/github.com/labstack/echo/otelecho/go.mod
  propagators/autoprop/go.mod
  propagators/aws/version.go
  propagators/b3/version.go
  propagators/jaeger/version.go
  propagators/ot/version.go
  tools/version.go
  version.go
Owners: @open-telemetry/go-approvers, @pyohannes, @akats7, @dashpole, @scorpionknifes, @MrAlias, @pellared, @yurishkuro

Prepare experimental-samplers for version v0.28.0
  samplers/jaegerremote/example/go.mod
  samplers/jaegerremote/version.go
  samplers/probability/consistent/version.go
Owners: @open-telemetry/go-approvers, @yurishkuro

Fix missing update to example
  examples/dice/instrumented/go.mod
Owners: @open-telemetry/go-approvers

Update the changelog
  CHANGELOG.md
Owners: @open-telemetry/go-approvers

[GH-6629] config: Handle null attributes as invalid
  config/testdata/invalid_empty.yaml
  config/v0.3.0/config.go
  config/v0.3.0/config_test.go
  config/v0.3.0/validate_config.go
  config/v0.3.0/validate_config_test.go
Owners: @open-telemetry/go-approvers, @pellared, @codeboten

migrate to semconv for otelmux #6638
  instrumentation/github.com/gorilla/mux/otelmux/config.go
  instrumentation/github.com/gorilla/mux/otelmux/example/go.mod
  instrumentation/github.com/gorilla/mux/otelmux/example/go.sum
  instrumentation/github.com/gorilla/mux/otelmux/go.mod
  instrumentation/github.com/gorilla/mux/otelmux/go.sum
  instrumentation/github.com/gorilla/mux/otelmux/internal/semconv/bench_test.go
  instrumentation/github.com/gorilla/mux/otelmux/internal/semconv/env.go
  instrumentation/github.com/gorilla/mux/otelmux/internal/semconv/env_test.go
  instrumentation/github.com/gorilla/mux/otelmux/internal/semconv/gen.go
  instrumentation/github.com/gorilla/mux/otelmux/internal/semconv/httpconv.go
  instrumentation/github.com/gorilla/mux/otelmux/internal/semconv/httpconv_test.go
  instrumentation/github.com/gorilla/mux/otelmux/internal/semconv/util.go
  instrumentation/github.com/gorilla/mux/otelmux/internal/semconv/util_test.go
  instrumentation/github.com/gorilla/mux/otelmux/internal/semconv/v1.20.0.go
  instrumentation/github.com/gorilla/mux/otelmux/mux.go
  instrumentation/github.com/gorilla/mux/otelmux/request/body_wrapper.go
  instrumentation/github.com/gorilla/mux/otelmux/request/body_wrapper_test.go
  instrumentation/github.com/gorilla/mux/otelmux/request/resp_writer_wrapper.go
  instrumentation/github.com/gorilla/mux/otelmux/request/resp_writer_wrapper_test.go
  instrumentation/github.com/gorilla/mux/otelmux/test/go.mod
  instrumentation/github.com/gorilla/mux/otelmux/test/go.sum
Owners: @open-telemetry/go-approvers, @akats7

config: add tests for socket endpoint (#6636)
  config/v0.3.0/log_test.go
  config/v0.3.0/metric_test.go
  config/v0.3.0/trace_test.go
Owners: @open-telemetry/go-approvers, @pellared, @codeboten

setup and implementation of a body wrapper in otelmux
  CHANGELOG.md
  instrumentation/github.com/gorilla/mux/otelmux/example/go.mod
  instrumentation/github.com/gorilla/mux/otelmux/example/go.sum
  instrumentation/github.com/gorilla/mux/otelmux/go.mod
  instrumentation/github.com/gorilla/mux/otelmux/go.sum
  instrumentation/github.com/gorilla/mux/otelmux/mux.go
  instrumentation/github.com/gorilla/mux/otelmux/request/body_wrapper.go
  instrumentation/github.com/gorilla/mux/otelmux/request/body_wrapper_test.go
  instrumentation/github.com/gorilla/mux/otelmux/request/resp_writer_wrapper.go
  instrumentation/github.com/gorilla/mux/otelmux/request/resp_writer_wrapper_test.go
  instrumentation/github.com/gorilla/mux/otelmux/test/go.mod
  instrumentation/github.com/gorilla/mux/otelmux/test/go.sum
Owners: @open-telemetry/go-approvers, @akats7

fix: move context.Background() fix to Unreleased section in CHANGELOG (#6527)
  CHANGELOG.md
Owners: @open-telemetry/go-approvers
