Repository open-telemetry/opentelemetry-go-contrib, changes with the owners that CODEOWNERS names for each.
All owners: @open-telemetry/go-approvers, @MrAlias, @pellared, @dashpole, @XSAM, @dmathieu, @khushijain21, @scorpionknifes, @codeboten, @pyohannes, @akats7, @MikeGoldsmith, @yurishkuro, @open-telemetry/go-instrumentation-approvers, @pdelewski

otellogr: Fix nil context panic (#6527)
  CHANGELOG.md
  bridges/otellogr/logsink.go
  bridges/otellogr/logsink_test.go
Owners: @open-telemetry/go-approvers, @scorpionknifes, @pellared

skip changelog
  CHANGELOG.md
Owners: @open-telemetry/go-approvers

fix: tests
  instrumentation/github.com/gorilla/mux/otelmux/example/go.mod
  instrumentation/github.com/gorilla/mux/otelmux/example/go.sum
  instrumentation/github.com/gorilla/mux/otelmux/go.mod
  instrumentation/github.com/gorilla/mux/otelmux/go.sum
  instrumentation/github.com/gorilla/mux/otelmux/mux.go
  instrumentation/github.com/gorilla/mux/otelmux/test/go.mod
  instrumentation/github.com/gorilla/mux/otelmux/test/go.sum
Owners: @open-telemetry/go-approvers, @akats7

Update CHANGELOG.md
  CHANGELOG.md
Owners: @open-telemetry/go-approvers

move wrapper into internal
  instrumentation/github.com/gorilla/mux/otelmux/internal/request/body_wrapper.go
  instrumentation/github.com/gorilla/mux/otelmux/internal/request/body_wrapper_test.go
  instrumentation/github.com/gorilla/mux/otelmux/internal/request/resp_writer_wrapper.go
  instrumentation/github.com/gorilla/mux/otelmux/internal/request/resp_writer_wrapper_test.go
  instrumentation/github.com/gorilla/mux/otelmux/mux.go
Owners: @open-telemetry/go-approvers, @akats7

migrate to semconv for otelmux
  instrumentation/github.com/gorilla/mux/otelmux/config.go
  instrumentation/github.com/gorilla/mux/otelmux/go.mod
  instrumentation/github.com/gorilla/mux/otelmux/internal/semconv/bench_test.go
  instrumentation/github.com/gorilla/mux/otelmux/internal/semconv/env.go
  instrumentation/github.com/gorilla/mux/otelmux/internal/semconv/env_test.go
  instrumentation/github.com/gorilla/mux/otelmux/internal/semconv/httpconv.go
  instrumentation/github.com/gorilla/mux/otelmux/internal/semconv/httpconv_test.go
  instrumentation/github.com/gorilla/mux/otelmux/internal/semconv/test/common_test.go
  instrumentation/github.com/gorilla/mux/otelmux/internal/semconv/test/go.mod
  instrumentation/github.com/gorilla/mux/otelmux/internal/semconv/test/go.sum
  instrumentation/github.com/gorilla/mux/otelmux/internal/semconv/test/httpconv_test.go
  instrumentation/github.com/gorilla/mux/otelmux/internal/semconv/test/v1.20.0_test.go
  instrumentation/github.com/gorilla/mux/otelmux/internal/semconv/util.go
  instrumentation/github.com/gorilla/mux/otelmux/internal/semconv/util_test.go
  instrumentation/github.com/gorilla/mux/otelmux/internal/semconv/v1.20.0.go
  instrumentation/github.com/gorilla/mux/otelmux/mux.go
Owners: @open-telemetry/go-approvers, @akats7

use otelhttp for semconv migration
  instrumentation/github.com/gorilla/mux/otelmux/example/go.mod
  instrumentation/github.com/gorilla/mux/otelmux/example/go.sum
  instrumentation/github.com/gorilla/mux/otelmux/go.mod
  instrumentation/github.com/gorilla/mux/otelmux/go.sum
  instrumentation/github.com/gorilla/mux/otelmux/mux.go
  instrumentation/github.com/gorilla/mux/otelmux/test/go.mod
  instrumentation/github.com/gorilla/mux/otelmux/test/go.sum
Owners: @open-telemetry/go-approvers, @akats7

Update CHANGELOG.md
  CHANGELOG.md
Owners: @open-telemetry/go-approvers

config: add support for extra TLS configuration (#6378)
  CHANGELOG.md
  config/v0.3.0/config.go
  config/v0.3.0/config_test.go
  config/v0.3.0/log.go
  config/v0.3.0/log_test.go
  config/v0.3.0/metric.go
  config/v0.3.0/metric_test.go
  config/v0.3.0/trace.go
  config/v0.3.0/trace_test.go
Owners: @open-telemetry/go-approvers, @pellared, @codeboten

fix lint
  instrumentation/github.com/gorilla/mux/otelmux/mux.go
Owners: @open-telemetry/go-approvers, @akats7

config: support HeadersList
  CHANGELOG.md
  config/v0.3.0/config.go
  config/v0.3.0/config_test.go
  config/v0.3.0/log.go
  config/v0.3.0/metric.go
  config/v0.3.0/trace.go
Owners: @open-telemetry/go-approvers, @pellared, @codeboten

config: add support for Insecure
  CHANGELOG.md
  config/testdata/v0.3.yaml
  config/v0.3.0/log.go
  config/v0.3.0/metric.go
  config/v0.3.0/trace.go
Owners: @open-telemetry/go-approvers, @pellared, @codeboten

update changelog
  CHANGELOG.md
Owners: @open-telemetry/go-approvers

update changelog
  CHANGELOG.md
Owners: @open-telemetry/go-approvers

fix spelling of supersedes
  config/v0.3.0/config_test.go
Owners: @open-telemetry/go-approvers, @pellared, @codeboten

add tests
  config/v0.3.0/log_test.go
  config/v0.3.0/metric_test.go
  config/v0.3.0/trace_test.go
Owners: @open-telemetry/go-approvers, @pellared, @codeboten

fix test
  config/v0.3.0/log_test.go
Owners: @open-telemetry/go-approvers, @pellared, @codeboten

make the package dynamic in internal/shared/semconv
  instrumentation/net/http/otelhttp/internal/semconv/gen.go
  instrumentation/net/http/otelhttp/internal/semconv/test/gen.go
  internal/shared/semconv/httpconv.go.tmpl
  internal/shared/semconv/test/common_test.go.tmpl
  internal/shared/semconv/test/httpconv_test.go.tmpl
  internal/shared/semconv/test/v1.20.0_test.go.tmpl
  internal/shared/semconv/util.go.tmpl
  internal/shared/semconv/v1.20.0.go.tmpl
Owners: @open-telemetry/go-approvers, @dmathieu

refactor + add metric support
  instrumentation/github.com/gorilla/mux/otelmux/config.go
  instrumentation/github.com/gorilla/mux/otelmux/go.mod
  instrumentation/github.com/gorilla/mux/otelmux/mux.go
Owners: @open-telemetry/go-approvers, @akats7

Fix for missing line and wording in Deprecated comment and test aligned to project style
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/attributes.go
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/attributes_test.go
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/aws.go
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/dynamodbattributes.go
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/snsattributes.go
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/sqsattributes.go
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/test/dynamodbattributes_test.go
Owners: @open-telemetry/go-approvers, @akats7

wip: AttributeNameValue.UnmarshalYAML
  config/v0.3.0/config.go
  config/v0.3.0/config_yaml.go
  config/v0.3.0/validate_config.go
  config/v0.3.0/validate_config_test.go
Owners: @open-telemetry/go-approvers, @pellared, @codeboten

chore: Group renovate build-tools update
  renovate.json
Owners: @open-telemetry/go-approvers

CODEOWNERS:

#####################################################
#
# List of approvers for this repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/main/guides/contributor/membership.md#member
#
# Learn about Code Owners policy in OpenTelemetry Go Contrib:
#  https://github.com/open-telemetry/opentelemetry-go-contrib/blob/main/CONTRIBUTING.md#code-owners
#
#
# Learn about CODEOWNERS file format:
# https://help.github.com/en/articles/about-code-owners
#
# NOTE: Lines should be entered in the following format:
# <component_path_relative_from_project_root>/<min_1_space><owner_1><space><owner_2><space>..<owner_n>
# instrumentation/net/http/otelhttp/         @open-telemetry/collector-go-approvers @madvikinggod @mralias
# Path separator and minimum of 1 space between component path and owners is
# important for validation steps
#

* @open-telemetry/go-approvers

CODEOWNERS @MrAlias @pellared @dashpole @XSAM @dmathieu

bridges/otelslog                                                        @open-telemetry/go-approvers @MrAlias @pellared
bridges/otellogrus/                                                     @open-telemetry/go-approvers @dmathieu @pellared
bridges/prometheus/                                                     @open-telemetry/go-approvers @dashpole
bridges/otelzap/                                                        @open-telemetry/go-approvers @pellared @khushijain21
bridges/otellogr/                                                       @open-telemetry/go-approvers @scorpionknifes @pellared

config/                                                                 @open-telemetry/go-approvers @pellared @codeboten

detectors/aws/ec2                                                       @open-telemetry/go-approvers @pyohannes @akats7
detectors/aws/ecs                                                       @open-telemetry/go-approvers @pyohannes @akats7
detectors/aws/eks                                                       @open-telemetry/go-approvers @pyohannes
detectors/aws/lambda                                                    @open-telemetry/go-approvers @akats7
detectors/azure/                                                        @open-telemetry/go-approvers @pyohannes
detectors/gcp/                                                          @open-telemetry/go-approvers @dashpole

exporters/autoexport                                                    @open-telemetry/go-approvers @MikeGoldsmith @pellared

instrumentation/github.com/aws/aws-lambda-go/otellambda/                @open-telemetry/go-approvers @akats7
instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/                   @open-telemetry/go-approvers @akats7
instrumentation/github.com/emicklei/go-restful/otelrestful/             @open-telemetry/go-approvers @dashpole
instrumentation/github.com/gin-gonic/gin/otelgin/                       @open-telemetry/go-approvers @akats7
instrumentation/github.com/gorilla/mux/otelmux/                         @open-telemetry/go-approvers @akats7
instrumentation/github.com/labstack/echo/otelecho/                      @open-telemetry/go-approvers @scorpionknifes
instrumentation/go.mongodb.org/mongo-driver/mongo/otelmongo/            @open-telemetry/go-approvers
instrumentation/google.golang.org/grpc/otelgrpc/                        @open-telemetry/go-approvers @dashpole

instrumentation/host/                                                   @open-telemetry/go-approvers @dmathieu
instrumentation/net/http/httptrace/otelhttptrace/                       @open-telemetry/go-approvers @dmathieu
instrumentation/net/http/otelhttp/                                      @open-telemetry/go-approvers @dmathieu
instrumentation/runtime/                                                @open-telemetry/go-approvers @dmathieu @dashpole

processors/baggagecopy                                                  @open-telemetry/go-approvers @codeboten @MikeGoldsmith
processors/minsev                                                       @open-telemetry/go-approvers @MrAlias

propagators/autoprop/                                                   @open-telemetry/go-approvers @MrAlias
propagators/aws/                                                        @open-telemetry/go-approvers @akats7
propagators/b3/                                                         @open-telemetry/go-approvers @pellared
propagators/jaeger/                                                     @open-telemetry/go-approvers @yurishkuro
propagators/opencensus/                                                 @open-telemetry/go-approvers @dashpole
propagators/ot/                                                         @open-telemetry/go-approvers @pellared

samplers/jaegerremote/                                                  @open-telemetry/go-approvers @yurishkuro
samplers/probability/consistent/                                        @open-telemetry/go-approvers

zpages/                                                                 @open-telemetry/go-approvers @dashpole
instrgen/                                                               @open-telemetry/go-approvers @open-telemetry/go-instrumentation-approvers @MrAlias @pdelewski
