Repository open-telemetry/opentelemetry-go-contrib, changes with the owners that CODEOWNERS names for each.
All owners: @open-telemetry/go-approvers, @MrAlias, @pellared, @dashpole, @XSAM, @dmathieu, @khushijain21, @scorpionknifes, @codeboten, @pyohannes, @akats7, @MikeGoldsmith, @yurishkuro, @open-telemetry/go-instrumentation-approvers, @pdelewski

otelmongo#6171 Migrate to semconv pkg pattern
  instrumentation/go.mongodb.org/mongo-driver/mongo/otelmongo/internal/semconv/event_monitor.go
  instrumentation/go.mongodb.org/mongo-driver/mongo/otelmongo/internal/semconv/event_monitor_test.go
  instrumentation/go.mongodb.org/mongo-driver/mongo/otelmongo/mongo.go
  instrumentation/go.mongodb.org/mongo-driver/mongo/otelmongo/semconv.go
  instrumentation/go.mongodb.org/mongo-driver/mongo/otelmongo/semconv_test.go
Owners: @open-telemetry/go-approvers

Update CHANGELOG
  CHANGELOG.md
Owners: @open-telemetry/go-approvers

Fix typos and wrap comments at 80
  instrumentation/go.mongodb.org/mongo-driver/mongo/otelmongo/doc.go
  instrumentation/go.mongodb.org/mongo-driver/mongo/otelmongo/internal/semconv/event_monitor.go
Owners: @open-telemetry/go-approvers

add tests for Handler WithMetricAttributesFn
  CHANGELOG.md
  instrumentation/net/http/otelhttp/test/handler_test.go
Owners: @open-telemetry/go-approvers, @dmathieu

Add licenses to semconv files
  instrumentation/go.mongodb.org/mongo-driver/mongo/otelmongo/internal/semconv/event_monitor.go
  instrumentation/go.mongodb.org/mongo-driver/mongo/otelmongo/internal/semconv/event_monitor_test.go
Owners: @open-telemetry/go-approvers

Resolve linting issues
  instrumentation/go.mongodb.org/mongo-driver/mongo/otelmongo/internal/semconv/event_monitor.go
  instrumentation/go.mongodb.org/mongo-driver/mongo/otelmongo/internal/semconv/event_monitor_test.go
  instrumentation/go.mongodb.org/mongo-driver/mongo/otelmongo/mongo.go
Owners: @open-telemetry/go-approvers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @open-telemetry/go-approvers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @open-telemetry/go-approvers

run gotidy
  instrumentation/github.com/gin-gonic/gin/otelgin/example/go.sum
  instrumentation/github.com/gin-gonic/gin/otelgin/go.sum
  instrumentation/github.com/gin-gonic/gin/otelgin/test/go.sum
Owners: @open-telemetry/go-approvers, @akats7

Fix: error logged on empty OTEL_TRACES_SAMPLER_ARG (#6511)
  CHANGELOG.md
  samplers/jaegerremote/sampler_remote_options.go
  samplers/jaegerremote/sampler_remote_test.go
Owners: @open-telemetry/go-approvers, @yurishkuro

chore(otellogr): remove custom context support from LogSink
  bridges/otellogr/logsink.go
  bridges/otellogr/logsink_test.go
Owners: @open-telemetry/go-approvers, @scorpionknifes, @pellared

refactor(bridges/otellogr): remove context handling from LogSink
  bridges/otellogr/logsink.go
  bridges/otellogr/logsink_test.go
Owners: @open-telemetry/go-approvers, @scorpionknifes, @pellared

refactor(otellogr): extract context creation in Enabled method for clarity
  bridges/otellogr/logsink.go
Owners: @open-telemetry/go-approvers, @scorpionknifes, @pellared

Add support for the `WithMetricAttributesFn` option for otelhttp middlewares (#6542)
  CHANGELOG.md
  instrumentation/net/http/otelhttp/handler.go
  instrumentation/net/http/otelhttp/test/handler_test.go
Owners: @open-telemetry/go-approvers, @dmathieu

Add AttributeBuilder, which will extend the AttributeSetter contract with output value. Thanks to that, users can instrument attributes based on the AWS SDK responses.
  CHANGELOG.md
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/attributes.go
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/attributes_test.go
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/aws.go
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/config.go
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/dynamodbattributes.go
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/dynamodbattributes_test.go
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/snsattributes.go
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/snsattributes_test.go
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/sqsattributes.go
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/sqsattributes_test.go
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/test/dynamodbattributes_test.go
Owners: @open-telemetry/go-approvers, @akats7

Only run link check on main branch merge
  .github/workflows/links-fail-fast.yml
Owners: @open-telemetry/go-approvers

config: add client certificate and client key functionality #6378
  CHANGELOG.md
  config/v0.3.0/config.go
  config/v0.3.0/config_test.go
  config/v0.3.0/log.go
  config/v0.3.0/log_test.go
  config/v0.3.0/metric.go
  config/v0.3.0/metric_test.go
  config/v0.3.0/trace.go
  config/v0.3.0/trace_test.go
Owners: @open-telemetry/go-approvers, @pellared, @codeboten

Only run link check on main branch merge (#6563)
  .github/workflows/links-fail-fast.yml
Owners: @open-telemetry/go-approvers

To Implement `http.Hijacker`
  CHANGELOG.md
  instrumentation/github.com/gorilla/mux/otelmux/mux.go
  instrumentation/github.com/gorilla/mux/otelmux/mux_test.go
  instrumentation/github.com/gorilla/mux/otelmux/test/mux_test.go
Owners: @open-telemetry/go-approvers, @akats7

Squashed commit of the following:
  instrumentation/github.com/gorilla/mux/otelmux/mux.go
  instrumentation/github.com/gorilla/mux/otelmux/test/mux_test.go
Owners: @open-telemetry/go-approvers, @akats7

Update CHANGELOG.md
  CHANGELOG.md
Owners: @open-telemetry/go-approvers

revert(test): Roll back to the previous unit test
  bridges/otellogr/logsink_test.go
Owners: @open-telemetry/go-approvers, @scorpionknifes, @pellared

revert(test): Roll back to the previous unit test
  bridges/otellogr/logsink_test.go
Owners: @open-telemetry/go-approvers, @scorpionknifes, @pellared

[chore] Move the changelog guard (#6518)
  CHANGELOG.md
Owners: @open-telemetry/go-approvers

avoid changing CHANGELOG trailing whitespace
  CHANGELOG.md
Owners: @open-telemetry/go-approvers

run gotidy
  tools/go.mod
  tools/go.sum
Owners: @open-telemetry/go-approvers

fix changelog
  CHANGELOG.md
Owners: @open-telemetry/go-approvers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @open-telemetry/go-approvers

Apply suggestions to changelog
  CHANGELOG.md
Owners: @open-telemetry/go-approvers

Relax go minor version requirement
  instrumentation/google.golang.org/grpc/otelgrpc/example/go.mod
  instrumentation/google.golang.org/grpc/otelgrpc/go.mod
  instrumentation/google.golang.org/grpc/otelgrpc/test/go.mod
  propagators/opencensus/examples/go.mod
Owners: @open-telemetry/go-approvers, @dashpole

Add changelog entry
  CHANGELOG.md
Owners: @open-telemetry/go-approvers

Update remaning modules
  config/go.mod
  config/go.sum
  examples/otel-collector/go.mod
  examples/otel-collector/go.sum
  exporters/autoexport/go.mod
  exporters/autoexport/go.sum
  instrumentation/github.com/aws/aws-lambda-go/otellambda/xrayconfig/go.mod
  instrumentation/github.com/aws/aws-lambda-go/otellambda/xrayconfig/go.sum
Owners: @open-telemetry/go-approvers, @pellared, @codeboten, @MikeGoldsmith, @akats7

Remove unnexessary change
  config/go.mod
  config/go.sum
Owners: @open-telemetry/go-approvers, @pellared, @codeboten

fix for windows tests
  config/v0.3.0/config_test.go
Owners: @open-telemetry/go-approvers, @pellared, @codeboten

fix(deps): Relax go minor version requirement (#6595)
  CHANGELOG.md
  config/go.mod
  config/go.sum
  examples/otel-collector/go.mod
  examples/otel-collector/go.sum
  exporters/autoexport/go.mod
  exporters/autoexport/go.sum
  instrumentation/github.com/aws/aws-lambda-go/otellambda/xrayconfig/go.mod
  instrumentation/github.com/aws/aws-lambda-go/otellambda/xrayconfig/go.sum
  instrumentation/google.golang.org/grpc/otelgrpc/example/go.mod
  instrumentation/google.golang.org/grpc/otelgrpc/go.mod
  instrumentation/google.golang.org/grpc/otelgrpc/test/go.mod
  propagators/opencensus/examples/go.mod
Owners: @open-telemetry/go-approvers, @pellared, @codeboten, @MikeGoldsmith, @akats7, @dashpole

config: Add fuzz tests
  .github/workflows/ci.yml
  Makefile
  config/v0.3.0/fuzz_test.go
Owners: @open-telemetry/go-approvers, @pellared, @codeboten

Add license header
  config/v0.3.0/fuzz_test.go
Owners: @open-telemetry/go-approvers, @pellared, @codeboten

Log input
  Makefile
  config/v0.3.0/fuzz_test.go
Owners: @open-telemetry/go-approvers, @pellared, @codeboten

Refine GH workflow
  .github/workflows/ci.yml
Owners: @open-telemetry/go-approvers

Fix typo
  config/v0.3.0/fuzz_test.go
Owners: @open-telemetry/go-approvers, @pellared, @codeboten

CODEOWNERS:

#####################################################
#
# List of approvers for this repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/main/guides/contributor/membership.md#member
#
# Learn about Code Owners policy in OpenTelemetry Go Contrib:
#  https://github.com/open-telemetry/opentelemetry-go-contrib/blob/main/CONTRIBUTING.md#code-owners
#
#
# Learn about CODEOWNERS file format:
# https://help.github.com/en/articles/about-code-owners
#
# NOTE: Lines should be entered in the following format:
# <component_path_relative_from_project_root>/<min_1_space><owner_1><space><owner_2><space>..<owner_n>
# instrumentation/net/http/otelhttp/         @open-telemetry/collector-go-approvers @madvikinggod @mralias
# Path separator and minimum of 1 space between component path and owners is
# important for validation steps
#

* @open-telemetry/go-approvers

CODEOWNERS @MrAlias @pellared @dashpole @XSAM @dmathieu

bridges/otelslog                                                        @open-telemetry/go-approvers @MrAlias @pellared
bridges/otellogrus/                                                     @open-telemetry/go-approvers @dmathieu @pellared
bridges/prometheus/                                                     @open-telemetry/go-approvers @dashpole
bridges/otelzap/                                                        @open-telemetry/go-approvers @pellared @khushijain21
bridges/otellogr/                                                       @open-telemetry/go-approvers @scorpionknifes @pellared

config/                                                                 @open-telemetry/go-approvers @pellared @codeboten

detectors/aws/ec2                                                       @open-telemetry/go-approvers @pyohannes @akats7
detectors/aws/ecs                                                       @open-telemetry/go-approvers @pyohannes @akats7
detectors/aws/eks                                                       @open-telemetry/go-approvers @pyohannes
detectors/aws/lambda                                                    @open-telemetry/go-approvers @akats7
detectors/azure/                                                        @open-telemetry/go-approvers @pyohannes
detectors/gcp/                                                          @open-telemetry/go-approvers @dashpole

exporters/autoexport                                                    @open-telemetry/go-approvers @MikeGoldsmith @pellared

instrumentation/github.com/aws/aws-lambda-go/otellambda/                @open-telemetry/go-approvers @akats7
instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/                   @open-telemetry/go-approvers @akats7
instrumentation/github.com/emicklei/go-restful/otelrestful/             @open-telemetry/go-approvers @dashpole
instrumentation/github.com/gin-gonic/gin/otelgin/                       @open-telemetry/go-approvers @akats7
instrumentation/github.com/gorilla/mux/otelmux/                         @open-telemetry/go-approvers @akats7
instrumentation/github.com/labstack/echo/otelecho/                      @open-telemetry/go-approvers @scorpionknifes
instrumentation/go.mongodb.org/mongo-driver/mongo/otelmongo/            @open-telemetry/go-approvers
instrumentation/google.golang.org/grpc/otelgrpc/                        @open-telemetry/go-approvers @dashpole

instrumentation/host/                                                   @open-telemetry/go-approvers @dmathieu
instrumentation/net/http/httptrace/otelhttptrace/                       @open-telemetry/go-approvers @dmathieu
instrumentation/net/http/otelhttp/                                      @open-telemetry/go-approvers @dmathieu
instrumentation/runtime/                                                @open-telemetry/go-approvers @dmathieu @dashpole

processors/baggagecopy                                                  @open-telemetry/go-approvers @codeboten @MikeGoldsmith
processors/minsev                                                       @open-telemetry/go-approvers @MrAlias

propagators/autoprop/                                                   @open-telemetry/go-approvers @MrAlias
propagators/aws/                                                        @open-telemetry/go-approvers @akats7
propagators/b3/                                                         @open-telemetry/go-approvers @pellared
propagators/jaeger/                                                     @open-telemetry/go-approvers @yurishkuro
propagators/opencensus/                                                 @open-telemetry/go-approvers @dashpole
propagators/ot/                                                         @open-telemetry/go-approvers @pellared

samplers/jaegerremote/                                                  @open-telemetry/go-approvers @yurishkuro
samplers/probability/consistent/                                        @open-telemetry/go-approvers

zpages/                                                                 @open-telemetry/go-approvers @dashpole
instrgen/                                                               @open-telemetry/go-approvers @open-telemetry/go-instrumentation-approvers @MrAlias @pdelewski
