Repository open-telemetry/opentelemetry-go-contrib, changes with the owners that CODEOWNERS names for each.
All owners: @open-telemetry/go-approvers, @MrAlias, @MadVikingGod, @pellared, @dashpole, @Aneurysm9, @MikeGoldsmith, @hanyuancheung, @dmathieu, @yurishkuro, @open-telemetry/go-instrumentation-approvers, @pdelewski

test labels
  bridges/prometheus/producer_test.go
Owners: @open-telemetry/go-approvers, @dashpole

address feedback
  bridges/prometheus/README.md
  bridges/prometheus/config.go
  bridges/prometheus/config_test.go
  bridges/prometheus/doc.go
  bridges/prometheus/go.mod
  bridges/prometheus/producer.go
  bridges/prometheus/producer_test.go
  versions.yaml
Owners: @open-telemetry/go-approvers, @dashpole

use prometheus.Gatherers
  bridges/prometheus/producer.go
Owners: @open-telemetry/go-approvers, @dashpole

otelgrpc: Implement grpc.StatsHandler for trace instrumentation (#3002)
  CHANGELOG.md
  instrumentation/google.golang.org/grpc/otelgrpc/doc.go
  instrumentation/google.golang.org/grpc/otelgrpc/stats_handler.go
  instrumentation/google.golang.org/grpc/otelgrpc/test/grpc_stats_handler_test.go
Owners: @open-telemetry/go-approvers, @dashpole, @hanyuancheung

update client & server request
  instrumentation/net/http/otelhttp/internal/semconvutil/httpconv.go
  instrumentation/net/http/otelhttp/internal/semconvutil/httpconv_test.go
  instrumentation/net/http/otelhttp/internal/semconvutil/netconv.go
  instrumentation/net/http/otelhttp/internal/semconvutil/netconv_test.go
Owners: @open-telemetry/go-approvers, @Aneurysm9, @dmathieu

update http instrumentation to 1.20
  instrumentation/github.com/emicklei/go-restful/otelrestful/restful.go
  instrumentation/github.com/gin-gonic/gin/otelgin/gintrace.go
  instrumentation/github.com/gorilla/mux/otelmux/mux.go
  instrumentation/github.com/labstack/echo/otelecho/echo.go
  instrumentation/gopkg.in/macaron.v1/otelmacaron/macaron.go
  instrumentation/net/http/httptrace/otelhttptrace/clienttrace.go
  instrumentation/net/http/httptrace/otelhttptrace/example/client/client.go
  instrumentation/net/http/httptrace/otelhttptrace/example/server/server.go
  instrumentation/net/http/httptrace/otelhttptrace/httptrace.go
  instrumentation/net/http/otelhttp/example/client/client.go
  instrumentation/net/http/otelhttp/example/server/server.go
  instrumentation/net/http/otelhttp/handler.go
Owners: @open-telemetry/go-approvers, @hanyuancheung, @Aneurysm9, @dmathieu

client resp and server metrics
  instrumentation/net/http/otelhttp/internal/semconvutil/httpconv.go
  instrumentation/net/http/otelhttp/internal/semconvutil/httpconv_test.go
  instrumentation/net/http/otelhttp/internal/semconvutil/netconv.go
  instrumentation/net/http/otelhttp/internal/semconvutil/netconv_test.go
Owners: @open-telemetry/go-approvers, @Aneurysm9, @dmathieu

Update template.
  instrumentation/github.com/emicklei/go-restful/otelrestful/internal/semconvutil/httpconv.go
  instrumentation/github.com/emicklei/go-restful/otelrestful/internal/semconvutil/httpconv_test.go
  instrumentation/github.com/emicklei/go-restful/otelrestful/internal/semconvutil/netconv.go
  instrumentation/github.com/emicklei/go-restful/otelrestful/internal/semconvutil/netconv_test.go
  instrumentation/github.com/gin-gonic/gin/otelgin/internal/semconvutil/httpconv.go
  instrumentation/github.com/gin-gonic/gin/otelgin/internal/semconvutil/httpconv_test.go
  instrumentation/github.com/gin-gonic/gin/otelgin/internal/semconvutil/netconv.go
  instrumentation/github.com/gin-gonic/gin/otelgin/internal/semconvutil/netconv_test.go
  instrumentation/github.com/gorilla/mux/otelmux/internal/semconvutil/httpconv.go
  instrumentation/github.com/gorilla/mux/otelmux/internal/semconvutil/httpconv_test.go
  instrumentation/github.com/gorilla/mux/otelmux/internal/semconvutil/netconv.go
  instrumentation/github.com/gorilla/mux/otelmux/internal/semconvutil/netconv_test.go
  instrumentation/github.com/labstack/echo/otelecho/internal/semconvutil/httpconv.go
  instrumentation/github.com/labstack/echo/otelecho/internal/semconvutil/httpconv_test.go
  instrumentation/github.com/labstack/echo/otelecho/internal/semconvutil/netconv.go
  instrumentation/github.com/labstack/echo/otelecho/internal/semconvutil/netconv_test.go
  instrumentation/gopkg.in/macaron.v1/otelmacaron/internal/semconvutil/httpconv.go
  instrumentation/gopkg.in/macaron.v1/otelmacaron/internal/semconvutil/httpconv_test.go
  instrumentation/gopkg.in/macaron.v1/otelmacaron/internal/semconvutil/netconv.go
  instrumentation/gopkg.in/macaron.v1/otelmacaron/internal/semconvutil/netconv_test.go
  instrumentation/net/http/httptrace/otelhttptrace/httptrace_test.go
  instrumentation/net/http/httptrace/otelhttptrace/internal/semconvutil/httpconv.go
  instrumentation/net/http/httptrace/otelhttptrace/internal/semconvutil/httpconv_test.go
  instrumentation/net/http/httptrace/otelhttptrace/internal/semconvutil/netconv.go
  instrumentation/net/http/httptrace/otelhttptrace/internal/semconvutil/netconv_test.go
  instrumentation/net/http/otelhttp/test/handler_test.go
  internal/shared/semconvutil/httpconv.go.tmpl
  internal/shared/semconvutil/httpconv_test.go.tmpl
  internal/shared/semconvutil/netconv.go.tmpl
  internal/shared/semconvutil/netconv_test.go.tmpl
Owners: @open-telemetry/go-approvers, @hanyuancheung, @Aneurysm9, @dmathieu

Removed high cardinality attributes from grpc metrics.
  CHANGELOG.md
  instrumentation/google.golang.org/grpc/otelgrpc/interceptor.go
Owners: @open-telemetry/go-approvers, @dashpole, @hanyuancheung

Update changelog
  CHANGELOG.md
Owners: @open-telemetry/go-approvers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @open-telemetry/go-approvers

update changelog
  CHANGELOG.md
Owners: @open-telemetry/go-approvers

Update CodeQL analysis frequency
  .github/workflows/codeql_analysis.yml
Owners: @open-telemetry/go-approvers

modify otelgrpc example to use stats.Handler
  instrumentation/google.golang.org/grpc/otelgrpc/example/client/main.go
  instrumentation/google.golang.org/grpc/otelgrpc/example/server/main.go
Owners: @open-telemetry/go-approvers, @dashpole, @hanyuancheung

add changelog
  CHANGELOG.md
Owners: @open-telemetry/go-approvers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @open-telemetry/go-approvers

otelgrpc: Modify example to use grpc.StatsHandler (#4325)
  CHANGELOG.md
  instrumentation/google.golang.org/grpc/otelgrpc/example/client/main.go
  instrumentation/google.golang.org/grpc/otelgrpc/example/server/main.go
Owners: @open-telemetry/go-approvers, @dashpole, @hanyuancheung

Update CodeQL analysis frequency (#4324)
  .github/workflows/codeql_analysis.yml
Owners: @open-telemetry/go-approvers

dependabot updates Sun Sep 24 18:04:23 UTC 2023 (#4337)
  detectors/aws/ec2/go.mod
  detectors/aws/ec2/go.sum
  exporters/autoexport/go.mod
  exporters/autoexport/go.sum
  instrumentation/github.com/aws/aws-lambda-go/otellambda/example/go.mod
  instrumentation/github.com/aws/aws-lambda-go/otellambda/example/go.sum
  instrumentation/github.com/aws/aws-lambda-go/otellambda/xrayconfig/go.mod
  instrumentation/github.com/aws/aws-lambda-go/otellambda/xrayconfig/go.sum
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/example/go.mod
  instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/example/go.sum
  instrumentation/google.golang.org/grpc/otelgrpc/example/go.mod
  instrumentation/google.golang.org/grpc/otelgrpc/example/go.sum
  instrumentation/google.golang.org/grpc/otelgrpc/go.mod
  instrumentation/google.golang.org/grpc/otelgrpc/go.sum
  instrumentation/google.golang.org/grpc/otelgrpc/test/go.mod
  instrumentation/google.golang.org/grpc/otelgrpc/test/go.sum
  propagators/opencensus/examples/go.mod
  propagators/opencensus/examples/go.sum
Owners: @open-telemetry/go-approvers, @Aneurysm9, @MikeGoldsmith, @pellared, @dashpole, @hanyuancheung

reduce to one function call
  instrumentation/google.golang.org/grpc/otelgrpc/interceptor.go
Owners: @open-telemetry/go-approvers, @dashpole, @hanyuancheung

updated comments
  samplers/jaegerremote/sampler_remote_options.go
Owners: @open-telemetry/go-approvers, @yurishkuro

fixed panic when default http round tripper is not *http.Transport
  samplers/jaegerremote/sampler_remote.go
  samplers/jaegerremote/sampler_remote_test.go
Owners: @open-telemetry/go-approvers, @yurishkuro

updated changelog
  CHANGELOG.md
Owners: @open-telemetry/go-approvers

updated readme, set http client timeout
  CHANGELOG.md
  samplers/jaegerremote/sampler_remote.go
  samplers/jaegerremote/sampler_remote_test.go
Owners: @open-telemetry/go-approvers, @yurishkuro

CODEOWNERS:

#####################################################
#
# List of approvers for this repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/main/community-membership.md
#
#
# Learn about CODEOWNERS file format:
# https://help.github.com/en/articles/about-code-owners
#
# NOTE: Lines should be entered in the following format:
# <component_path_relative_from_project_root>/<min_1_space><owner_1><space><owner_2><space>..<owner_n>
# instrumentation/net/http/otelhttp/         @open-telemetry/collector-go-approvers @madvikinggod @mralias
# Path separator and minimum of 1 space between component path and owners is
# important for validation steps
#

* @open-telemetry/go-approvers

CODEOWNERS @MrAlias @MadVikingGod @pellared

bridges/prometheus/                                                     @open-telemetry/go-approvers @dashpole

detectors/aws/                                                          @open-telemetry/go-approvers @Aneurysm9
detectors/gcp/                                                          @open-telemetry/go-approvers @dashpole

exporters/autoexport                                                    @open-telemetry/go-approvers @MikeGoldsmith @pellared

instrumentation/github.com/aws/aws-lambda-go/otellambda/                @open-telemetry/go-approvers @Aneurysm9
instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/                   @open-telemetry/go-approvers @Aneurysm9
instrumentation/github.com/emicklei/go-restful/otelrestful/             @open-telemetry/go-approvers
instrumentation/github.com/gin-gonic/gin/otelgin/                       @open-telemetry/go-approvers @hanyuancheung
instrumentation/github.com/gorilla/mux/otelmux/                         @open-telemetry/go-approvers
instrumentation/github.com/labstack/echo/otelecho/                      @open-telemetry/go-approvers
instrumentation/go.mongodb.org/mongo-driver/mongo/otelmongo/            @open-telemetry/go-approvers
instrumentation/google.golang.org/grpc/otelgrpc/                        @open-telemetry/go-approvers @dashpole @hanyuancheung
instrumentation/gopkg.in/macaron.v1/otelmacaron/                        @open-telemetry/go-approvers

instrumentation/host/                                                   @open-telemetry/go-approvers @MadVikingGod
instrumentation/net/http/httptrace/otelhttptrace/                       @open-telemetry/go-approvers @Aneurysm9 @dmathieu
instrumentation/net/http/otelhttp/                                      @open-telemetry/go-approvers @Aneurysm9 @dmathieu
instrumentation/runtime/                                                @open-telemetry/go-approvers @MadVikingGod

propagators/autoprop/                                                   @open-telemetry/go-approvers @MrAlias
propagators/aws/                                                        @open-telemetry/go-approvers @Aneurysm9
propagators/b3/                                                         @open-telemetry/go-approvers @pellared
propagators/jaeger/                                                     @open-telemetry/go-approvers @yurishkuro
propagators/opencensus/                                                 @open-telemetry/go-approvers @dashpole
propagators/ot/                                                         @open-telemetry/go-approvers @pellared

samplers/aws/xray/                                                      @open-telemetry/go-approvers @Aneurysm9
samplers/jaegerremote/                                                  @open-telemetry/go-approvers @yurishkuro
samplers/probability/consistent/                                        @open-telemetry/go-approvers @MadVikingGod

zpages/                                                                 @open-telemetry/go-approvers @dashpole
instrgen/                                                               @open-telemetry/go-approvers @open-telemetry/go-instrumentation-approvers @MrAlias @pdelewski
